html {
	background-color: #fffde7;
	
}

img {
	width: 900px;
}
body {
	
	margin-left: 10em;
	width: 400px;
}
fieldset {
	width: 400px;
	background-color: #e198b5;
	
}

#Übersicht {
	margin-left: 40em;
	float: left;
}

svg, figure, option {
	display: inline;
	margin: 10px;
	padding: 0px;
}
